
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p> <b> What's inside? </b>
     </p>

      <p>
A prototype of a fictional 'Juggling Licencing Service' created as part of an "Introduction to Gov Prototype Kit" series of exercises.      </p>

      {{ govukButton({
        text: "Launch Juggling Licencing Service",
        href: "/start",
        isStartButton: true
      }) }}



    </div>
  </div>

{% endblock %}
